body,html{

    background-color: white;
    margin: 0;
    height: 100%;
}
.first{
  background-image: url("computer.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fff{


  background: linear-gradient(to top ,indigo,blue,lightblue,green,yellow,orange,red);
  font-size: 20px;
  color: white;
  opacity: 1;

}
p{
  text-align: justify;
  text-transform: capitalize;
  text-indent: 100px;
  letter-spacing: 3px;
  word-spacing: 10px;

}



p{
  margin: 0 20px 0 20px;
  padding-top: 20px;
}
